<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style='margin-top:50px'>
<div class="row">
  	<div class="col-md-2"></div>
  	<div class="col-md-8">
	<h3> Check to modify device </h3>
	<h4>	{{userinput.user_name}} 's device list </h4>
	{% if devices_list %}
	<table class="table">
	<tr><td></td><td>Device Name</td><td>IP Address</td><td>Is Attestated</td><td>Attestated Time</td></tr>
	
	<form method="post" name='select' action="/mainpage/{{userinput.id}}/modify/device/">{% csrf_token %}
	{% for device in devices_list %}	
		<tr>
		<label>
			<td><input type='radio' name='deldevicelist' value="{{device.id}}"/></td>
			<input type="hidden" name="deldevice_id" id='deldevice_id' value="{{device.id}}"/>
			<td>{{device.device_name}}</td>
			<td>{{device.ip}}</td>
			<td>{{device.is_attestated}}</td>
			<td>{{device.attestated_time}}</td>
		</label>	
		</tr>	
	{% endfor %}
	</table>
	<input type="submit" class="btn btn-default" value="modify detail" /></form>
	
	{% else %}
		<p> no devices </p>
	{% endif %}

	<a class="btn btn-default" href="/mainpage/" role="button">back</a>
	
</div>
<div class="col-md-2"></div>
</body>