<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<h5>new device saving status</h5>

<ul>
Device user : {{inputdevice.user}}</br>
device name : {{inputdevice.device_name}}</br>
IP address : {{inputdevice.ip}}</br>
Is attestated : {{inputdevice.is_attestated}}</br>
Attestated Time : {{inputdevice.attestated_time}}</br>

</ul>

<a href="/mainpage/">back</a>